.navbar-default-antel {
  background-color: #0e1945;
  border-color: #00468c;
}
.navbar-default-antel .navbar-brand {
  color: #ecf0f1;
}
.navbar-default-antel .navbar-brand:hover,
.navbar-default-antel .navbar-brand:focus {
  color: #faffbb;
}
.navbar-default-antel .navbar-text {
  color: #ecf0f1;
}
.navbar-default-antel .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default-antel .navbar-nav > li > a:hover,
.navbar-default-antel .navbar-nav > li > a:focus {
  color: #faffbb;
}
.navbar-default-antel .navbar-nav > .active > a,
.navbar-default-antel .navbar-nav > .active > a:hover,
.navbar-default-antel .navbar-nav > .active > a:focus {
  color: #faffbb;
  background-color: #00468c;
}
.navbar-default-antel .navbar-nav > .open > a,
.navbar-default-antel .navbar-nav > .open > a:hover,
.navbar-default-antel .navbar-nav > .open > a:focus {
  color: #faffbb;
  background-color: #00468c;
}
.navbar-default-antel .navbar-toggle {
  border-color: #00468c;
}
.navbar-default-antel .navbar-toggle:hover,
.navbar-default-antel .navbar-toggle:focus {
  background-color: #00468c;
}
.navbar-default-antel .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default-antel .navbar-collapse,
.navbar-default-antel .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default-antel .navbar-link {
  color: #ecf0f1;
}
.navbar-default-antel .navbar-link:hover {
  color: #faffbb;
}

@media (max-width: 767px) {
  .navbar-default-antel .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default-antel .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default-antel .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #faffbb;
  }
  .navbar-default-antel .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default-antel .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default-antel .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #faffbb;
    background-color: #00468c;
  }
}